/*body{
    width: 80px;
    max-width: 1024px;
    background-color: lightpink;
    padding-left: 550px;

}
.container-padding50
{
    padding-top: 100px;
    margin: 0% auto;
    display: block;
    

}
.container-textinput
{
    width: 400px;
    padding: 10px;
    font-size: 20px;
    font-style: italic;
    font-family:'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif;
    border-radius: 5px;
    background-color: linen;
    text-align:left;

}
.container-button
{
    width: 100px;
    display: inline-block;
    padding: 10px;
    background-color: green;
    color: linen;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 1px solid green;
    border-radius: 5px;
    align-self: auto;
}
.container-image

{
    width:200px;
    display:inline;
    margin: auto;
    position: relative;
    top:20%;
    left:50%;
    
}
*/
html {
    position: relative;
    min-height: 100%;
}
body {
	width: 80%;
	max-width: 1024px;
	margin: 0 auto;
    background:#1A1A1D
}
.header{
	position: absolute;
	left: 9.375rem;
	top: 3.125rem;
}

h1{
	display: inline;
}

.container-padding50 {
	padding-top: 60px; 
}

.container-textinput {
	width: 80%;
	display: inline-block;
	padding: 20px;
	font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius:5px ;
}

.container-button {
	width: 10%;
	display: inline-block;
	padding: 20px;
	background-color:#C3073F;
	color:white;
	font-size: 20px;
	font-family: Helvetica, sans-serif;
	border: 1px solid;
	border-radius: 5px;
	
}

.container-image {
	width: 30%;
	display: block;
	float: left;
	margin-right:3%;
}

.results{

	color:#950740;
	margin-top: 10px;
	padding: 5px;
	position: absolute;
	left: 252px;

}

footer{
	color:white;
	position: absolute;
    left: 20px;
    bottom: 0;
    height: 60px;
    overflow: hidden;  /* Height of the footer */
    font-family:cursive;
    font-size: 120%;


}

a{
	color:white;
    text-decoration: none;
    text-align: left;
}

